@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello My Name is Jonah</h1>
    <p>This Website is built to be a active WebApp Portfolio with multiple projects inside.</p>
    <p>I am a Software developer that specializes in C# and dotNet. I have experience in C aswell.</p>
</div>
