@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is Jonah Ringdahl and I am a software developer with many interests.</p>
</div>
